<h1>view de carts</h1>
<div>
  <div class="d-flex justify-content-center">
    <div class="card-cart">
    

    <div class="card-trip">
         <img src="https://images.unsplash.com/photo-1582798358481-d199fb7347bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80" />
      <div class="card-trip-infos">
        <div>
          <h2>Collar fancy</h2>
          <p>Price: 17$</p>
        </div>
        </div>
          <%#= link_to "View!", product_path(Product.first), class: "btn btn-gradient" %>
        </div>
      </div>
    </div>
  </div>
</div>
