.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  height: 400px;
  width: 320px;

  height: 390px;
  width: 300px;

  margin-top: 30px;
  margin-left: 10px;

}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: -19px;
  box-shadow: gray;
}

.card-trip p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
  padding: 0px;
}


.card-trip .card-trip-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-product {
  flex: 1 1 auto;
  min-height: 1px;
  margin-top: 10px;
  text-align: justify;
}

.card-product {

  min-height: 1px;
  margin-top: 10px;
  text-align: justify;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

.card-button-space {
  margin-top: 10px;
  flex-shrink: 2;
}

#top-5-text {
  margin-top: 14px;

}
 .card-infos {
   align-content: center;
 }