
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514361892635-6b07e31e75f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
  <div class="container">
    <h1>Add a new product!</h1>
  </div>
</div>

<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3>Create a new product</h3>

      <%= render 'shared/form' %>

      </div>
      <%= link_to "Back to all products", products_path %>
  </div>
</div>
